.our-team-section {
    background-color: var(--our-team-background-color);
}

.our-team-section-list {
    display: flex;
    margin-left: -30px;
}

.member-card {
    background-color: var(--header-background-color);
    margin-left: 30px;
    flex-basis: calc((100% - 120px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.member-card-information {
    padding: 30px 32px;
}

.our-team-member-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team-position {
    margin-bottom: 16px;
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.social-list {
    display: flex;
    justify-content: space-between;
}

.social-list-icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    .social-list-link:hover &,
    .social-list-link:focus & {
        fill: var(--secondary-white-accent);
    }
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        background-color: var(--accent);
    }
}