:root {
    --primary-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;
    --accent: #2196f3;
    --secondary-blue-accent: #188ce8;
    --secondary-black-accent: #000000;
    --secondary-white-accent: #ffffff;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --secondary-text-color-alfa: rgba(255, 255, 255, 0.6);
    --header-background-color: #ffffff;
    --secondary-background-color: #2f303a;
    --our-team-background-color: #f5f4fa;
}